*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height:100%;
}

html{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.item {
    border: 1px solid black;
}

nav{
    display: grid;
    grid: 56px 1fr / 100px 1fr repeat(3,56px);
    width: 100%;
    grid-gap: 10px;
    align-items: center;
    padding: 0 10px;
}

nav>img{
    height: 100%;
    width: 100%;
}

.icon{
    border-radius: 100%;
    justify-self: end;
}

.icon-small{
    width: 30px;
}

#search-bar {
    display: flex;
    justify-content: center;
    height: 40px;
}

#search-bar > input {
    width: 575px;
    padding: 2px 8px;
}

#search-bar > img{
    width: 65px;
}

/* .itemRight{
    display: grid;
    justify-self: end;
} */


